<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Question</key>
		<string>How much is 2*2?</string>
		<key>Answer</key>
		<string>4</string>
	</dict>
	<key>2</key>
	<dict>
		<key></key>
		<string></string>
		<key>Question</key>
		<string>What is the name of the building?</string>
		<key>Answer</key>
		<string>Crown Hall</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Question</key>
		<string>How much is 3*2?</string>
		<key>Answer</key>
		<string>6</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Question</key>
		<string>How much is 4*2?</string>
		<key>Answer</key>
		<string>8</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Question</key>
		<string>How much is 5*2?</string>
		<key>Answer</key>
		<string>10</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Question</key>
		<string>How much is 6*2?</string>
		<key>Answer</key>
		<string>4</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Question</key>
		<string>How much is 7*2?</string>
		<key>Answer</key>
		<string>14</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Question</key>
		<string>How much is 8*2?</string>
		<key>Answer</key>
		<string>4</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Question</key>
		<string>How much is 9*2?</string>
		<key>Answer</key>
		<string>4</string>
	</dict>
</dict>
</plist>
