<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>Keating Hall</key>
		<dict>
			<key>Latitude</key>
			<string>41.8389537</string>
			<key>Longitude</key>
			<string>-87.62536799999998</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>IIT Tower</key>
		<dict>
			<key>Latitude</key>
			<string>41.8312838</string>
			<key>Longitude</key>
			<string>-87.62722409999998</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>3</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Stuart Building</key>
		<dict>
			<key>Latitude</key>
			<string>41.838904</string>
			<key>Longitude</key>
			<string>-87.62747100000001</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>4</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Center</key>
		<dict>
			<key>Latitude</key>
			<string>41.831755;</string>
			<key>Longitude</key>
			<string>-87.627296</string>
		</dict>
		<key>MTTC</key>
		<dict>
			<key>Latitude</key>
			<string>41.831751</string>
			<key>Longitude</key>
			<string>-87.627296</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>5</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Alumni</key>
		<dict>
			<key>Latitude</key>
			<string>41.8371602</string>
			<key>Longitude</key>
			<string>87.62695489999999</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>6</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Crown Hall</key>
		<dict>
			<key>Latitude</key>
			<string>-87.62702000000002</string>
			<key>Longitude</key>
			<string>41.8344809</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>2</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>Engineering 1</key>
		<dict>
			<key>Latitude</key>
			<string>41.8368138</string>
			<key>Longitude</key>
			<string>-87.62727189999998</string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string>8</string>
				<key>Type</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>Level2</key>
	<dict>
		<key>Location1</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location2</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location3</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location4</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>Level3</key>
	<dict>
		<key>Location1</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location2</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location3</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location4</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>Level4</key>
	<dict>
		<key>Location1</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location2</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location3</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
		<key>Location4</key>
		<dict>
			<key>Latitude</key>
			<string></string>
			<key>Longitude</key>
			<string></string>
			<key>Challenge</key>
			<dict>
				<key>ID</key>
				<string></string>
				<key>Type</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
